@import url(/css/imports/variables.css);

.section-checkout {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
}

.price {
  text-align: left;
}

.div-checkout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.checkout-img {
  max-width: 100%;
}

.welcome_content {
  margin-top: 40px;
}

.textarea-checkout {
  max-width: 50%;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

hr,
.hr-top {
  width: 100%;
  margin-top: 50px;
}

.section-payment {
  width: 50%;
  margin: 0 auto;
  display: grid;
}

input {
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 10px;
}

.payment-div {
  width: 100%;
}

.payment-div {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .section-checkout {
    max-width: 600px;
  }

  .section-payment {
    max-width: 400px;
  }

  .checkout-img {
    max-width: 600px;
    margin: 0 auto;
  }
}
