.all-games {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
}

.game-list {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  grid-column-start: auto;
}

.cta {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

p,
h1,
h2 {
  text-align: left;
  margin: 0;
  margin: 20px 0;
}

footer p {
  text-align: center;
}

.games-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (min-width: 600px) {
  .all-games {
    max-width: 300px;
  }
}
