@import "../css/imports/variables.css";

.login-section {
  background: #d4d7e5;
  margin-top: 70px;
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
}

.hr-login {
  width: 100%;
}

.login-icons {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.social-icon-one {
  background-image: url(/images/icons/icons8-google-plus-48.png);
}

.social-icon-two {
  background-image: url(/images/icons/icons8-twitter-circled-48.png);
}

.social-icon-three {
  background-image: url(/images/icons/icons8-facebook-circled-48.png);
}

.social-icons {
  display: inline-block;
  padding: 0 5px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  text-align: center;
}

.section-icons {
  text-align: center;
}

.fa-user,
.fa-lock {
  margin-bottom: 20px;
}

.login-h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--dark-blue);
}

.forgot-password {
  margin: 0;
  margin-bottom: 90px;
  text-align: right;
}

.username-password {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.p-register {
  text-decoration: underline;
}
