section {
  background: #d4d7e5;
  margin-top: 70px;
}

.login-icons {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.social-icon-one {
  background-image: url(/images/icons/icons8-google-plus-48.png);
  width: 48px;
  height: 48px;
}

.social-icon-two {
  background-image: url(/images/icons/icons8-twitter-circled-48.png);
  width: 48px;
  height: 48px;
}

.social-icon-three {
  background-image: url(/images/icons/icons8-facebook-circled-48.png);
  width: 48px;
  height: 48px;
}

.social-icons {
  display: inline-block;
  padding: 0 5px;
  background-repeat: no-repeat;
}

.fa-user,
.fa-lock {
  margin-bottom: 20px;
}

.login-h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--dark-blue);
}

.username-password,
.fa-user,
.fa-lock {
}

.forgot-password {
  margin-bottom: 90px;
}
