.my-profile {
  color: var(--dark-blue);
}

.profile-image img {
  width: 80%;
  border-radius: 10px;
}

.hr-profile {
  width: 40%;
}

.paragraph-profile {
  text-decoration: underline;
  margin: 0;
}

.h2-profile {
  margin: 25px 0 10px 0;
}

.change-password {
  margin-bottom: 60px;
}
