@import "../css/imports/variables.css";

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
}

/*header*/
header img {
  height: 79px;
  width: 126px;
  background-color: var(--light-blue);
  margin-left: 5px;
  margin-top: 5px;
}

header {
  background-color: var(--light-blue);
  align-items: center;
  display: flex;
  width: 100%;
}

header a {
  color: white;
  background-color: var(--light-blue);
  font-size: 46px;
}

.fa-bars {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 50px;
  background-color: var(--light-blue);
  margin: 15px 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

nav {
  display: none;
  position: fixed;
  top: 79px;
  width: 100%;
  background: var(--light-blue);
  z-index: 1000;
  right: 0px;
  background-color: var(--light-blue);
  padding-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  background-color: var(--light-blue);
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

li {
  padding: 10px;
}

.content {
  align-items: center;
}

#hamburger-menu {
  display: none;
  justify-content: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.h1,
.p {
  text-align: center;
  color: var(--dark-blue);
  width: 80%;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 36px;
}

p {
  text-align: center;
  margin: 20px;
  font-size: 16px;
  color: var(--dark-blue);
}

.readmore {
  margin: 0px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.cta {
  background-color: var(--dark-blue);
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid var(--light-blue);
  margin: 10px 0px;
}

.stuff {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

hr {
  border-bottom: 1px solid var(--dark-blue);
  box-shadow: 1px var(--light-blue);
  width: 90%;
  margin-top: -5px;
}

.hr-circle {
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 25px;
}

.welcome_content {
  text-align: center;
  margin-bottom: 25px;
  max-width: 100%;
  display: grid;
}

.image-container {
  margin: 0 auto;
  margin-top: 50px;
}

.image-container img {
  width: 100%;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px 0 0 0;
}

h5 {
  margin: 0;
}
