body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #d4d7e5;
}

/*header*/
header img {
  height: 79px;
  width: 126px;
  background-color: #5e70d6;
  margin-left: 5px;
  margin-top: 5px;
}

header {
  background-color: #5e70d6;
  align-items: center;
  display: flex;
  width: 100%;
}

header a {
  color: white;
  background-color: #5e70d6;
  font-size: 46px;
}

.fa,
.fas {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 50px;
  background-color: #5e70d6;
  margin: 15px 20px;
}

a {
  text-decoration: none;
}

nav {
  display: none;
  position: fixed;
  top: 79px;
  width: 100%;
  background: #5e70d6;
  z-index: 1000;
  right: 0px;
  background-color: #5e70d6;
  padding-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  background-color: #5e70d6;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

li {
  padding: 10px;
}

.content {
  align-items: center;
}

#hamburger-menu {
  display: none;
  justify-content: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.h1,
.p {
  text-align: center;
  color: #1b203d;
  width: 80%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 36px;
}

p {
  text-align: center;
  margin: 20px;
  font-size: 16px;
}

.readmore {
  margin: 0px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.cta {
  background-color: #5e70d6;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 19px;
  padding: 10px;
  border: 1px solid #1b203d;
  box-shadow: 1px 2px #1b203d;
}

.cta-small {
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

hr {
  border-bottom: 2px solid #1b203d;
  box-shadow: 2px #5e70d6;
  width: 80%;
  margin-top: 7px;
}

.hr-circle {
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 40px;
}

.welcome_content {
  text-align: center;
  margin-bottom: 50px;
}

.main-image {
  background-image: url(/images/cellphone-6636940_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat center;
  width: 100%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

/*media queries*/

/*tablets*/
@media only screen and (min-width: 600px) {
  body {
    z-index: 100;
  }

  nav {
    display: block;
    position: static;
    padding: 0;
    padding-left: 10px;
  }

  nav li {
    display: inline;
    padding: 10px;
  }

  header label {
    display: none;
  }

  li a {
    font-size: 30px;
  }
}

/*desktop*/
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 46px;
  }

  p,
  .readmore {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 1000;
  }

  li a {
    font-size: 46px;
  }

  .welcome_content {
    text-align: center;
    margin-bottom: 200px;
  }

  .main-image {
    height: 50vh;
    width: 80%;
  }

  footer {
    margin: 0;
  }

  .welcome_content {
    margin-bottom: 162px;
  }

  .content {
  }
}
