@font-face {
  font-family: "Boots And Spurs";
  src: url("/fonts/BootsAndSpurs.ttf") format("truetype");
}

* {
  background-color: #d4d7e5;
}

/*header*/
header img {
  height: 79px;
  width: 126px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5e70d6;
  margin-left: 5px;
}

header {
  background-color: #5e70d6;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 79px;
}

header a {
  color: white;
  background-color: #5e70d6;
  font-size: 46px;
}

.fa,
.fas {
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 50px;
  background-color: #5e70d6;
  margin: 15px 20px;
}

a {
  text-decoration: none;
}

nav {
  display: none;
  position: fixed;
  top: 79px;
  width: 100%;
  background: #5e70d6;
  z-index: 1000;
  right: 0px;
  background-color: #5e70d6;
  padding-top: 20px;
}

nav li {
  display: block;
  background-color: #5e70d6;
  text-align: center;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

.content {
  align-items: center;
}

#hamburger-menu {
  display: none;
  justify-content: right;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/*body*/

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.h1,
.p {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  text-align: center;
  display: flex;
  color: #1b203d;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 36px;
}

p {
  text-align: center;
  margin: 50px 10px 0 10px;
  font-size: 16px;
}

.readmore {
  margin: 0px;
  text-decoration: underline;
}

.cta {
  background-color: #5e70d6;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 19px;
  padding: 10px;
  border: 1px solid #1b203d;
  box-shadow: 1px 2px #1b203d;
}

.cta-small {
  padding: 10px 30px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.welcome_content {
  margin: auto;
  text-align: center;
  margin-top: 115px;
}

/*footer*/
footer img {
  height: 250px;
  width: 100%;
}

footer {
  text-align: center;
}

/*media queries*/
