@import url(/css/imports/variables.css);

.section-viewgame {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
}

.viewgame {
  display: flex;
  flex-direction: column;
  grid-area: 2;
}

.game-images {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.racing {
  max-width: 100%;
}

.ingame-images {
  margin: 0 auto;
}

a {
  text-align: center;
}

h1,
p {
  text-align: left;
  margin: 0;
  margin: 30px 0;
}

footer p {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  main {
    max-width: 90%;
    margin: 0 auto;
  }

  .section-viewgame {
    display: grid;
    margin: 0px auto;
    max-width: 90%;
  }

  .game-images {
    min-width: 100px;
    max-width: 350px;
  }

  .viewgame {
    max-width: 700px;
  }

  .ingame-images {
    max-width: 600px;
    grid-area: 2;
    display: grid;
    padding-left: 10px;
    gap: 10px;
  }

  footer p {
    margin: 30px auto;
  }

  h2 {
    margin: 30px 0;
    padding-left: 10px;
  }
}
