@import url(/css/imports/variables.css);

h1,
h2,
p {
  color: var(--dark-blue);
}

p {
  font-size: 16px;
}

.viewgame {
  display: grid;
}

.section-viewgame {
  max-width: 90%;
  margin: 0 auto;
}

.racing {
  max-width: 100%;
}

.ingame-images {
  display: grid;
}

.game-images {
  max-width: 100%;
  padding-bottom: 10px;
  grid-column: 1;
}

.welcome_content {
}

.cta {
  font-size: 20px;
}
