@import url(/css/imports/variables.css);

.section-viewgame {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
}

.viewgame {
  display: grid;
  grid-column: 1;
}

.game-images {
  width: 100%;
  display: grid;
  grid-column: 2;
}

.welcome_content {
  grid-area: auto;
}

.racing {
  max-width: 100%;
  grid-column: 2;
  grid-column-start: auto;
}

. .ingame-images {
  display: grid;
  margin: 0 auto;
}

h1,
p {
  text-align: left;
  margin: 0;
  margin: 30px 0;
}

footer p {
  text-align: center;
}
